<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="title"><%=title%></h1>
    <a href="/new">Got Something to say?</a>
    <ul>
      <% for(const msg of messages) {%>
      <li>
        <div><sub><%=format(msg.added, {addSuffix: true})%></sub></div>
        <div><strong><%=msg.user%></strong></div>
        <%=msg.text%>
      </li>
      <% } %>
    </ul>
  </body>
</html>